.popup__button_disabled {
  opacity: 0.2;
  cursor: not-allowed;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: transparent;
  color: #000000;
  transition: none;
}
.popup__button_disabled:disabled {
  opacity: 0.2;
}
